div.cart div img{
    width: 20%;
}

div.cart img.cross {
    width: 5%;
    height: 5%;
}

div.cart {
    display: flex;
    justify-content: space-between;
}

div.cart div h5, div.cart div p{
    display: inline;
}