<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <h1>HEURE24</h1>
            <p>The World's Watch Market</p>
        </div>
        <button>Panier :<span>0</span></button>
    </header>
    <nav>
        <a href="../index.php">Acceuil</a>
        <a href="">Collection</a>
        <a href="">A propos</a>
        <a href="">FAQ</a>
        <a href="">Contact</a>
    </nav>
