/* Réinitialiser les styles par défaut */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Styles de base */
  
  body {
    font-family: sans-serif;
    line-height: 1.5;
    background-color: #f7f7f7;
  }
  
  /* header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  } */
  

  h1 {
    margin: 0;
    font-size: 36px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    /* color: #fff; */
    position: absolute;
    top: 20px;
    text-decoration: none;
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* .watch-collection {
    margin-top: 40px;
  } */
  
  .watch-collection h2 {
    /* margin-bottom: 20px; */
    font-size: 28px;
  }
  
  .watch-collection ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .watch-collection li {
    margin-right: 20px;
    /* margin-bottom: 20px; */
    flex-basis: calc(33.33);
  }  
  img{
    width: 500px;
  }