/*Booting*/
*{
    padding: 0;
    margin: 0;
}
/*Header*/
header{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}
/*Nav*/
nav{
    display: flex;
    justify-content: space-evenly;
    margin: 2% 0;
}
nav a{
    text-decoration: none;
    color: black;
}
hr {
    border: none;
    border-top: 3px solid #000;
    overflow: visible;
    text-align: center;
    height: 5px;
}



/*Footer*/
footer{
    display: flex;
    justify-content: space-between;
}
footer div img{
    width: 2em;
}